%a{ :href => "/ms" } Bahasa Melayu
%a{ :href => "/en" } English
%a{ :href => "/vi" } Tiếng Việt

=haml :section_intro

%a{:href => "/#{@locale}/#{current_koan_name}", :style => 'font-size: 36px;'}
  = t('intro.start')

%hr

=haml :section_world

=haml :section_thepath

=haml :section_issues

%a{:href => "/#{@locale}/#{current_koan_name}", :style => 'font-size: 36px;'}
  = t('intro.start')

%div{:style=>"height: 100px; clear:both;"}
