%h2= current_koan_name
%form{:action => "/#{@locale}/#{current_koan_name}"}
  .meditate{:nowrap => 'nowrap'}
    %input{:type => 'submit', :value => "#{t('actions.click_to_submit')}"}/
    .koans
      = @inputs

  - if params[:error_panel]
    .error_panel
      %input{:type => 'submit', :value => "#{t('actions.meditate')}"}/
      %br/
      Results
      = @pass_count
      %br/
      = @failures.values.join("\n").preify
      = @failures.values.first.backtrace
      = @failures.values.count
      = @error
