%h2= current_koan_name
#{current_koan_name} #{t('next.heighten')}
%br/
%br/
#{current_koan_count}/#{KOAN_FILENAMES.count} #{t('next.complete')}
%br/
%br/
%a{:href => "#{@locale}/#{next_koan_name}"} #{t('next.meditate-on')} #{next_koan_name}

