%section#the_path
  %h2
    = t('path.title')

  %p
    = t('path.explanation')


  %h3
    = t('path.subtitle')

  %p
    = t('path.tdd.title')
    %ol
      %li
        %span.red= t('terms.red')
        \:
        = t('path.tdd.red-explanation')

      %li
        %span.green= t('terms.green')
        \:
        = t('path.tdd.green-explanation')

      %li
        %span.refactor= t('terms.refactor')
        \:
        = t('path.tdd.refactor-explanation')

  %p
    = t('path.koans-online.title')
    %ol
      %li
        = t('path.koans-online.red-explanation')
      %li
        = t('path.koans-online.green-explanation')
      %li
        = t('path.koans-online.refactor-explanation')

  .greenbox
    %h3{:style => "color: green"}
      = t('path.green.title')

    %p
      = t('path.green.explanation')

    =haml :example

  .redbox
    %h3{:style => "color: red"} 
      = t('path.red.title')

    %p
      = t('path.red.explanation')

    =haml :example

    %p
      %h3
        = t('path.red.question')
      = t('path.red.answer')

